# Used in Blocks to allow blocks to set fire
public net.minecraft.block.FireBlock func_180686_a(Lnet/minecraft/block/Block;II)V # setFireInfo

# Used in log blocks allow tileentity stripping
public-f net.minecraft.item.AxeItem field_203176_a # BLOCK_STRIPPING_MAP

# Used in definitions of3D your own NoiseChunkGenerator. Reference from mod Twilight Forest
public-f net.minecraft.world.gen.NoiseChunkGenerator

# Used in definitions of3D your own NoiseChunkGenerator. Reference from mod Twilight Forest
public net.minecraft.world.gen.NoiseChunkGenerator field_222571_r # surfaceDepthNoise

# Used in your BiomeProviders. Reference from mod Twilight Forest
public net.minecraft.world.gen.layer.Layer field_215742_b # lazyArea

# Used in put your Structures into the world generation. Reference from mod Twilight Forest
public-f net.minecraft.world.gen.feature.structure.Structure field_236384_t_ #LAND_TRANSFORMING_STRUCTURES
public-f net.minecraft.world.gen.settings.DimensionStructuresSettings field_236191_b_ # DEFAULT_STRUCTURE_CONFIGS
public net.minecraft.world.gen.FlatGenerationSettings field_202247_j # STRUCTURES
public-f net.minecraft.world.gen.settings.DimensionStructuresSettings field_236193_d_ # structures

# DimensionRenderInfo - So we can register our own skycolor - and do more?
public net.minecraft.client.world.DimensionRenderInfo field_239208_a_ # WORLD_RENDER_INFO_MAP

public-f net.minecraft.world.gen.feature.template.Template field_204769_a # palettes
public net.minecraft.world.gen.feature.structure.TemplateStructurePiece field_186176_a # template
public net.minecraft.world.gen.feature.structure.TemplateStructurePiece field_186177_b # placeSettings
public net.minecraft.world.gen.feature.structure.TemplateStructurePiece field_186178_c # templatePosition

# Make this as non-final because I don't want the game randomly rotate the structure
public-f net.minecraft.world.gen.feature.structure.AbstractVillagePiece field_214834_c # rotation

# Create custom TrunkPlayerType
public net.minecraft.world.gen.trunkplacer.TrunkPlacerType <init>(Lcom/mojang/serialization/Codec;)V

# Create custom FoliagePlacerType
public net.minecraft.world.gen.foliageplacer.FoliagePlacerType <init>(Lcom/mojang/serialization/Codec;)V
